{% extends 'layout/app.html.twig' %}

{% block body %}
    <h2 class="font-weight-light text-center mb-3 text-uppercase cco-header-section">{{ 'app.home.title'|trans }}</h2>
    <div class="container">
        <div class="row align-items-center">

            {% for product in products %}
                <!-- Resposive conteiner -->
                <div class="col-md-4">
                    <!--[ The service -->
                    <div class="cco-service card mb-4 shadow-none bg-transparent">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                        <div class="card-body d-flex flex-column align-items-center">
                            <p class="cco-service-description card-text text-center">
                                {{ product.name }}
                            </p>
                            <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saber mas</a>
                        </div>
                        <!-- Service indicator button -->
                        {{ render(controller('App\\Controller\\Shop\\CartController::addItemForm', {'id' : product.id})) }}
                    </div>
                    <!-- The service ]-->
                </div>
            {% endfor %}

            <!--                <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>{#{{ 'app.home.table.column.product'|trans }}#}</th>
                                        <th>{#{{ 'app.home.table.column.price'|trans }}#}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
            {#{% for product in products %}#}
                <tr>
                    <td>{#{{ product.name }}#}</td>
                    <td>{#{{ product.price|number_format(2, ',', ' ') }}#} {#{{ 'app.default.currencyDescription'|trans }}#}</td>
                    <td>
            {#{{ render(controller('App\\Controller\\Shop\\CartController::addItemForm', {'id' : product.id})) }}#}
        </td>
    </tr>
            {#{% endfor %}#}
        </tbody>
    </table>-->
        </div>
    </div>
{% endblock %}