{% import 'macros.html.twig' as macros %}
{% trans_default_domain "app" %} 
<!doctype html>
{% set locale = app.request.get('_locale') %}
<html lang="{{locale}}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>{% block title %}CineCubano Online- Alpha{% endblock %}</title>

        <!-- Icons -->
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png')}}">

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/materialdesignicons/materialdesignicons.min.css') }}">
            {{ encore_entry_link_tags('css/app') }}
        {% endblock %}
    </head>
    <body>
        <header class="cco-header">
            {% block header %}
                {% include 'layout/navbar.html.twig' %}
            {% endblock %}
        </header>
        <!--[ Main section ]-->
        {% block top %}
        {% endblock %}
        <!--[ Body section ]-->
        {% block body %}

        {% endblock %}
        {% block chat_contact %}
        {% endblock %}
        <!--[ Footer section ] -->
        <footer class="cco-footer text-muted">
            {% block footer %}
                {% include 'layout/footer-content.html.twig' %}
            {% endblock %}
        </footer>              

        {% block javascripts %}
            {{ encore_entry_script_tags('js/app') }}           
        {% endblock %}   
    </body>
</html>