{% import 'macros.html.twig' as macros %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>{% block title %}CineCubano Online{% endblock %}</title>

        <!-- Icons -->
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png')}}">
        <link rel="stylesheet" href="{{ asset('build/css/materialdesignicons/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="cco-header">
            <nav class="cco-navbar navbar fixed-top navbar-dark bg-dark box-shadow flex-column">
                <div id="cco-navbar-header" class="collapse bg-dark mx-auto">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7 py-4">
                                <h4 class="text-white">Login or register</h4>
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Et, magnam consequatur cupiditate sapiente, dignissimos incidunt porro accusamus 
                                    necessitatibus autem eum earum sunt. Quaerat quos ipsam numquam optio nobis delectus tempore!
                                </p>
                                <form class="cco-form-login-register">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <input id="cco-username" type="text" required class="form-control" placeholder="User name">
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input id="cco-password" type="password" required class="form-control" placeholder="Password">
                                        </div>
                                        <div class="ml-auto col-12 mt-2 d-flex align-items-md-center flex-column flex-md-row flex-lg-row">
                                            <div class="checkbox">
                                                <label class="text-light">
                                                    <input id="storage-credentials" type="checkbox"> Recordar
                                                </label>
                                            </div>
                                            <div class="ml-0 ml-md-auto ml-lg-auto">
                                                <button class="btn bg-primary text-light cco-btn-rounded mr-2" type="submit">
                                                    Iniciar secion
                                                </button>
                                                <a href="#" class="btn btn btn-outline-success cco-btn-rounded">
                                                    Registrarse
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-sm-4 offset-md-1 py-4">
                                <h4 class="text-white">I want know</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#" class="text-white">Privacity terms</a></li>
                                    <li><a id="email-me" href="#" class="text-white" data-scrollto="#cco-contactus">Email me</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cco-header-container container d-flex justify-content-between position-relative" role="navigation">
                    <a href="{{ path('home') }}" class="navbar-brand d-flex align-items-center mr-0">
                        <img class="mr-0 mr-md-2" src="{{ asset('build/images/brand.png')}}" alt="cine cubano online" height="30px" width="auto">
                        <strong class="d-none d-md-inline">CineCubano Online</strong>
                    </a>

                    <!--[ Links ]-->
                    <ul class="navbar-nav my-2 flex-row ml-auto">
                        <li class="nav-item">
                            <a id="cco-open-search" class="nav-link rounded" href="#" title="Buscar" aria-label="open search">
                                <span class="cco-navbar-icon mdi mdi-magnify highlight-search"></span>
                                <span class="sr-only">Buscar</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" href="#" title="Blog" aria-label="blog">
                                <span class="cco-navbar-icon mdi mdi-post-outline highlight-blog"></span>
                                <span class="sr-only">Blog</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link rounded" href="{{ path('cart') }}" title="{{ 'app.default.cart'|trans }}" aria-label="cart shoping"  data-toggle="modal" data-target="#cco-shoping-car-list">
                                <span class="cco-navbar-icon mdi mdi-cart-outline highlight-cart">
                                    <span class="cco-badge-dot">{{ itemsInCart }}</span>                                    
                                </span>
                                <span class="sr-only">{{ 'app.default.cart'|trans }}</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link rounded" data-toggle="collapse" href="#cco-navbar-header" role="button" title="Ingresar o registrarse" aria-controls="cco-navbar-header" aria-label="login or register">
                                <span class="cco-navbar-icon mdi mdi-account-circle-outline highlight-login-register"></span>
                                <span class="sr-only">Ingresar o registrarse</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a id="cco-theme-selector" class="nav-link rounded" data-toggle="collapse" href="#" role="button" title="Escoje tema oscuro o iluminado" aria-controls="cco-navbar-header" aria-label="login or register">
                                <span class="cco-navbar-icon mdi mdi-theme-light-dark highlight-theme-selector"></span>
                                <span class="sr-only">Seleccionar tema</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a id="cco-translate" class="nav-link dropdown-toggle rounded" role="button" href="#" title="Idioma" aria-label="translate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="cco-navbar-icon mdi mdi-translate highlight-translate"></span>
                                <span class="sr-only">Idioma</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="cco-translate">
                                <a class="dropdown-item" href="#">
                                    <span class="mdi mdi-translate text-muted mr-2"></span>
                                    Español
                                </a>
                                <a class="dropdown-item" href="#">
                                    <span class="mdi mdi-translate text-muted mr-2"></span>
                                    Inglés
                                </a>
                            </div>
                        </li>
                    </ul>

                    <form action="#" class="cco-navbar-search d-flex align-items-center justify-content-end bg-dark">
                        <div class="cco-search-input mr-2">
                            <span class="cco-icon-search mdi mdi-magnify highlight-search"></span>
                            <input type="search" id="cco-search" placeholder="Search" class="cco-search" />
                        </div>
                        <button type="submit" class="btn btn-success d-none d-md-inline-block cco-btn-rounded">search</button>
                        <button id="cco-close-search" type="button" class="btn btn-danger bmd-btn-icon">
                            <span class="mdi mdi-close"></span>
                        </button>
                    </form>
                </div>
            </nav>
        </header>

        <!--[ Main section ]-->
        <section class="cco-main-section d-flex jumbotron text-center">
            <div class="container m-auto">
                <h1 class="jumbotron-heading text-light">CineCubano Online</h1>
                <p class="lead text-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur voluptatibus at praesentium quae voluptatem! Incidunt adipisci dicta ipsa, commodi deleniti quas!</p>
                <div class="d-flex justify-content-center">
                    <a
                        id="cco-goto-services"
                        href="#"
                        class="btn cco-btn-rounded text-light mr-3"
                        data-scrollto="#cco-services"
                        >
                        services
                    </a>
                    <a
                        id="cco-goto-articles"
                        href="#"
                        class="btn cco-btn-rounded text-light"
                        data-scrollto="#cco-articles"
                        >
                        articles
                    </a>
                </div>
            </div>

            <!--[ Social media ]-->
            <div class="cco-social-media-main-section">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link cco-media-facebook" href="#">
                            <span class="mdi mdi-facebook cco-media-facebook"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="mdi mdi-twitter cco-media-twitter"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="mdi mdi-instagram cco-media-instagram"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <main class="cco-main-content" role="main">
            <!--[ Services ]-->
            <section id="cco-services" class="cco-services py-5">
                {% block body %}
                    <h2 class="font-weight-light text-center mb-3 text-uppercase cco-header-section">services</h2>
                    <!--                    <div class="row pt-md-3 pb-md-3">
                                            <div class="col-md-12">
                    {#{{ macros.messages() }}#}
                </div>
            </div>-->
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                    <a href="#" class="cco-btn-service btn mdi mdi-cart-outline m-0"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                    <a href="#" class="cco-btn-service btn mdi mdi-cart-outline m-0"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                    <a href="#" class="cco-btn-service btn mdi mdi-cart-outline m-0"></a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="cco-service card mb-4 shadow-none bg-transparent">
                                    <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Service preview" alt="Card image cap">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <p class="cco-service-description card-text text-center">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, neque voluptatem quam temporibus laudantium quibusdam modi labore praesentium ratione inventore.
                                        </p>
                                        <a href="#" class="cco-service-action btn bg-primary cco-btn-rounded text-light m-0">Saver mas</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endblock %}
            </section>


            <!--[ Articles ]-->
            <section id="cco-articles" class="cco-articles bg-light">
                <h2 class="font-weight-light text-center mb-3 text-uppercase cco-header-section">lo m&aacute;s reciente</h2>

                <div class="container">
                    <div class="row align-items-start">
                        <div class="col-md-4">
                            <article class="cco-article cco-rounded card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Article preview" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="cco-article-title card-title">Article title</h5>
                                    <p class="cco-article-description card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vel fugit maxime a corporis veniam distinctio odio dicta maiores ex eius iste.</p>
                                    <div class="cco-article-actions d-flex align-items-center">
                                        <a href="#" class="cco-btn-read-article btn btn-sm btn-secondary rounded">
                                            <span class="mdi mdi-eye mdi-18px align-middle"></span>&nbsp;Read
                                        </a>
                                        <a href="#" class="cco-btn-edit-article btn btn-sm btn-secondary rounded ml-auto">
                                            <span class="mdi mdi-pencil mdi-18px align-middle"></span>&nbsp;Edit
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="cco-article cco-rounded card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Article preview" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="cco-article-title card-title">Article title</h5>
                                    <p class="cco-article-description card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vel fugit maxime a corporis veniam distinctio odio dicta maiores ex eius iste.</p>
                                    <div class="cco-article-actions d-flex align-items-center">
                                        <a href="#" class="cco-btn-read-article btn btn-sm btn-secondary rounded">
                                            <span class="mdi mdi-eye mdi-18px align-middle"></span>&nbsp;Read
                                        </a>
                                        <a href="#" class="cco-btn-edit-article btn btn-sm btn-secondary rounded ml-auto">
                                            <span class="mdi mdi-pencil mdi-18px align-middle"></span>&nbsp;Edit
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="cco-article cco-rounded card mb-4 box-shadow">
                                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Article preview" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="cco-article-title card-title">Article title</h5>
                                    <p class="cco-article-description card-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum vel fugit maxime a corporis veniam distinctio odio dicta maiores ex eius iste.</p>
                                    <div class="cco-article-actions d-flex align-items-center">
                                        <a href="#" class="cco-btn-read-article btn btn-sm btn-secondary rounded">
                                            <span class="mdi mdi-eye mdi-18px align-middle"></span>&nbsp;Read
                                        </a>
                                        <a href="#" class="cco-btn-edit-article btn btn-sm btn-secondary rounded ml-auto">
                                            <span class="mdi mdi-pencil mdi-18px align-middle"></span>&nbsp;Edit
                                        </a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

            <!--[ Get in touch ]-->
            <section id="cco-contactus" class="cco-contactus pt-5 pb-0">
                <h2 class="font-weight-light text-center mb-3 text-uppercase cco-header-section">contact us</h2>

                <div class="container d-flex justify-content-center">
                    <form id="cco-contactus-form" class="cco-contactus-form">
                        <div class="form-group">
                            <label for="cco-getintouch-name" class="bmd-label-floating">Nombre</label>
                            <input type="text" class="form-control" id="cco-getintouch-name">
                        </div>
                        <div class="form-group">
                            <label for="cco-contactus-email" class="bmd-label-floating">Tu correo</label>
                            <input type="email" class="form-control" id="cco-contactus-email">
                        </div>
                        <div class="form-group">
                            <label for="cco-contactus-content" class="bmd-label-floating">Lo que quieres excribirnos</label>
                            <textarea class="form-control" id="cco-contactus-content" rows="3"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary btn-raised">Send</button>
                        </div>
                    </form>
                </div>
            </section>
        </main>

        <footer class="cco-footer text-muted">
            <div class="container pt-5 pb-3">
                <div class="row justify-content-center">
                    <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
                        <h5 class="cco-widget-footer-links-title">Widget link title</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
                        <h5 class="cco-widget-footer-links-title">Widget link title</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                    <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
                        <h5 class="cco-widget-footer-links-title">Widget link title</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Active link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="cco-social-media-footer py-2">
                <div class="container d-flex align-items-center justify-content-between">
                    <div class="cco-copy text-muted">&copy; 2020 - CineCubano Online</div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="mdi mdi-facebook"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="mdi mdi-twitter"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span class="mdi mdi-instagram"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
        {% block javascripts %}{% endblock %}        
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>