{% import 'macros.html.twig' as macros %}
{% trans_default_domain "app" %} 
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>{% block title %}CineCubano Online- Alpha{% endblock %}</title>

        <!-- Icons -->
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.png')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{ asset('build/images/apple-touch-icon.png')}}">
        <link rel="stylesheet" href="{{ asset('build/css/materialdesignicons/materialdesignicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header class="cco-header">
            {% block header %}
                {% include 'layout/navbar.html.twig' %}
            {% endblock %}
        </header>
        <!--[ Main section ]-->
        {% block top %}
        {% endblock %}
        <!--[ Body section ]-->
        {% block body %}

        {% endblock %}
        <!--[ Footer section ] -->
        <footer class="cco-footer text-muted">
            {% block footer %}
                {% include 'layout/footer-content.html.twig' %}
            {% endblock %}
        </footer> 

        {% block javascripts %}{% endblock %}        
        <script src="{{ asset('build/js/app.js') }}"></script>
    </body>
</html>