<div class="container pt-5 pb-3">
    <div class="row justify-content-center">
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
        <div class="cco-widget-footer-links col-12 col-md-6 col-lg-4 mt-3 mt-md-3 mt-lg-4">
            <h5 class="cco-widget-footer-links-title">Widget link title</h5>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="cco-social-media-footer py-2">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="cco-copy text-muted">&copy; Copyright - {{ 'now'|date('Y') }} - CineCubano Online</div>
        <ul class="nav">
            {% if variable_get('SOCIAL_ACCOUNT_FACEBOOK') %}

                <li class="nav-item">
                    <a class="nav-link" href="https://www.facebook.com/{{ 'SOCIAL_ACCOUNT_FACEBOOK'|variable_get }}/">
                        <span class="mdi mdi-facebook"></span>
                    </a>
                </li>
            {% endif %}
            {% if variable_get('SOCIAL_ACCOUNT_TWITTER') %}
                <li class="nav-item">
                    <a class="nav-link" href="https://twitter.com/{{ 'SOCIAL_ACCOUNT_TWITTER'|variable_get }}?lang=es">
                        <span class="mdi mdi-twitter"></span>
                    </a>
                </li>
            {% endif %}
            {% if variable_get('SOCIAL_ACCOUNT_INSTAGRAM') %}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.instagram.com/?hl={{ 'SOCIAL_ACCOUNT_INSTAGRAM'|variable_get }}">
                        <span class="mdi mdi-instagram"></span>
                    </a>
                </li>
            {% endif %}
            {% if variable_get('SOCIAL_ACCOUNT_YOUTUBE') %}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/channel/{{ 'SOCIAL_ACCOUNT_YOUTUBE'|variable_get }}?view_as=subscriber">
                        <span class="mdi mdi-youtube"></span>
                    </a>
                </li>
            {% endif %}
            {% if variable_get('SOCIAL_ACCOUNT_LINKEDIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/{{ 'SOCIAL_ACCOUNT_LINKEDIN'|variable_get }}">
                        <span class="mdi mdi-linkedin"></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</div>